.website_link {
  font-weight: 600;
  margin-bottom: 1rem;
}

.website_link a {
  color: rgb(249, 255, 238);
  text-decoration: none;
}

.website_link a:hover {
  color: rgb(243, 238, 167);
}
