/* media queries */
/* mobile first small*/
/* main page content container */
.front_page_news_data_cards {
  margin: 1rem;
  margin-bottom: 4em;
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* small not inherited */
@media (max-width: 767px) {
  .front_page_news_data_cards a {
    text-decoration: none;
    width: 100%;
  }
}

/* media queries */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .front_page_news_data_cards {
    justify-content: space-evenly;
  }
}
